.container{
    text-align: center;
    margin-top: 23 px;
}
table{
    margin: auto;
}
input{
    border: 5px solid #152515;
    font-size: 34px;
    border-radius: 21px;
    height:60px;
}
button {
    border-radius: 20px;
    font-size: 36px;
    background: gray;
    width: 90px;
    height: 55px;
    margin:6px;
}
.calculator{
    display:inline-block;
    background-color: rgb(224 190 70 / 38%);
    padding: 23px;
    border-radius:53px;
    border:4px solid black;
}
h1{
    font-size:40px;
}
body{
    background-color:aqua ;
}